@media (max-width: 600px) {
  .hide-on-mobile-screen {
    display: none;
  }

  .hide-color-mobile-screen {
    background-color: none;
    shadow: none;
  }

  .mobile-row {
    flex-direction: column;
  }

  .mobile-col {
    flex-direction: row;
  }

  .mobile-p-zero {
    padding-left: 0;
  }

  .mobile-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
